.form_deg{
    padding-top: 10px;
}

.lable_deg{
    display: inline-block;
    color: skyblue;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.login_form{
    background-color: black;
    width: 400px;
    margin-top: 70px;
    padding-bottom: 70px;
}
.title_deg{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}