.logo{
    color: #fff;
    font-family: 'Playfair', serif;
    text-align: left;
    padding-left: 20px;
     }
     .b{
      color: darkgoldenrod;
     }
     .c{
      color: aqua;
     }
     .a{
      color: crimson;
     }
     .q{
      color: #a4aa6d;
     }
     .u{
      color:chartreuse;
     }
     .i{
      color: rgb(88, 88, 240);
     }
     .z{
      color: rgb(162, 38, 224);
     }